
BETTER_AUTH_SECRET=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
BETTER_AUTH_URL=http://localhost:3000
NEXT_PUBLIC_BETTER_AUTH_URL=http://localhost:3000/api/auth
GITHUB_CLIENT_ID=Ov23liaXtlCN1atCSVdD
GITHUB_CLIENT_SECRET=57ac0ad0da4a73246107d51e64faab8f81f6f6c7
